<footer class="text-white">
  <div class="">
    <ul class="flex justify-evenly">
      <li>Home</li>
      <li>Products</li>
      <li>About</li>
      <li>Contact Us</li>
      <li>Sale</li>
    </ul>
    <div class="">
      <div class="flex justify-center space-x-4 opacity-50">
        <a rel="noopener noreferrer" href="#" title="Instagram" class="">
          <i class="fab fa-instagram"></i>
        </a>
        <a rel="noopener noreferrer" href="#" title="Pinterest" class="">
          <i class="fab fa-pinterest"></i>
        </a>
        <a rel="noopener noreferrer" href="#" title="Twitter" class="">
          <i class="fab fa-twitter"></i>
        </a>
        <a rel="noopener noreferrer" href="#" title="Facebook" class="">
          <i class="fab fa-facebook"></i>
        </a>
        <a rel="noopener noreferrer" href="#" title="Gmail" class="">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
