<footer class="text-white">
  <div class="">
    <ul class="flex justify-evenly hover:cursor-pointer">
      <li (click)="navigateToHome()">Home</li>
      <li (click)="navigateToProducts()">Products</li>
      <li (click)="navigateToAbout()">About</li>
      <li (click)="navigateToContact()">Contact Us</li>
      <li (click)="navigateToAccount()">Account</li>
    </ul>
    <div class="">
      <div
        class="flex justify-center space-x-4 opacity-50 hover:cursor-pointer"
      >
        <a rel="noopener noreferrer" href="#" title="Instagram" class="">
          <i class="fab fa-instagram"></i>
        </a>
        <a rel="noopener noreferrer" href="#" title="Pinterest" class="">
          <i class="fab fa-pinterest"></i>
        </a>
        <a rel="noopener noreferrer" href="#" title="Twitter" class="">
          <i class="fab fa-twitter"></i>
        </a>
        <a rel="noopener noreferrer" href="#" title="Facebook" class="">
          <i class="fab fa-facebook"></i>
        </a>
        <a rel="noopener noreferrer" href="#" title="Gmail" class="">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
