<nav
  [ngClass]="{
    'navbar-small': !isNavbarLarge,
    'navbar-open': isNavbarOpen
  }"
  class="hover:cursor-pointer"
>
  <ul
    class="md:flex md:justify-center md:items-center md:py-3 md:space-x-4 md:text-white md:tracking-widest text-slate-800"
  >
    <li><a (click)="navigateToHome()">Home</a></li>
    <li><a (click)="navigateToProducts()">Products</a></li>
    <li><a (click)="navigateToAbout()">About</a></li>
    <li><a (click)="navigateToContact()">Contact Us</a></li>
    <li><a (click)="navigateToSale()">Sale</a></li>
  </ul>
  <button class="navbar-toggle w-max" (click)="toggleNavbar()">
    <i class="fas fa-bars text-white ml-2 text-3xl"></i>
  </button>
</nav>
