<section class="h-screen custom-bg flex flex-col justify-center items-center">
  <div
    class="w-90vw grid grid-rows-2 sm:grid-cols-2 sm:grid-rows-none h-3/4 sm:h-1/2 drop"
  >
    <div class="overflow-hidden relative">
      <img
        src="/assets/furniture/account-bg.jpg"
        alt=""
        class="h-full w-full object-cover scale-110 lg:scale-100"
      />
      <div
        class="text text-5xl lg:text-7xl absolute bottom-2 right-2 bg-orange-900 bg-opacity-40 border-double border-white border-4"
      >
        <div class="wrapper">
          <div id="L" class="letter">L</div>
          <div class="shadow">L</div>
        </div>
        <div class="wrapper">
          <div id="I" class="letter">O</div>
          <div class="shadow">O</div>
        </div>
        <div class="wrapper">
          <div id="G" class="letter">G</div>
          <div class="shadow">G</div>
        </div>
        <div class="wrapper">
          <div id="H" class="letter">I</div>
          <div class="shadow">I</div>
        </div>
        <div class="wrapper">
          <div id="H" class="letter">N</div>
          <div class="shadow">N</div>
        </div>
      </div>
    </div>
    <div class="bg-white">
      <img
        src="/assets/logo/leaf.svg"
        alt="Leaf"
        class="mx-auto h-20 lg:h-36"
      />
      <form action="" class="w-3/4 mx-auto lg:w-1/2">
        <label for="email" class="text-sm tracking-widest lg:text-lg"
          >Email:</label
        >
        <input
          type="email"
          class="block border border-neutral-200 w-full focus:outline-none py-1 px-1 rounded-md"
        />
        <label for="password" class="text-sm tracking-widest lg:text-lg"
          >Password:</label
        >
        <input
          type="password"
          class="block border border-neutral-200 w-full focus:outline-none py-1 px-1 rounded-md"
        />
        <button
          type="submit"
          class="border w-full bg-orange-700 text-white rounded-md py-1 bg-opacity-80 mt-2"
        >
          Login
        </button>
        <p class="text-xs tracking-widest text-center mt-2">
          Not a member yet? create account
        </p>
      </form>
    </div>
  </div>
</section>
