<section
  class="h-screen fixed right-0 top-0 w-1/2 lg:w-1/5 bg-white cart-main custom-shadow flex flex-col items-center"
  [ngClass]="{ 'cart-main-close': isCartClosing }"
>
  <button
    (click)="closeCart()"
    class="absolute top-0 -left-4 text-xl bg-orange-700 text-white p-4 hover:cursor-pointer"
  >
    X
  </button>
  <div class="text text-3xl my-5">
    <div class="wrapper">
      <div id="L" class="letter">C</div>
      <div class="shadow">C</div>
    </div>
    <div class="wrapper">
      <div id="I" class="letter">A</div>
      <div class="shadow">A</div>
    </div>
    <div class="wrapper">
      <div id="G" class="letter">R</div>
      <div class="shadow">R</div>
    </div>
    <div class="wrapper">
      <div id="H" class="letter">T</div>
      <div class="shadow">T</div>
    </div>
  </div>
  <div class="h-screen overflow-y-auto">
    <app-cart-item></app-cart-item>
  </div>
</section>
