@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.cart-main {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.cart-main-close {
  animation: 1s ease-in 0s 1 slideOutToRight;
}

.custom-shadow {
  filter: drop-shadow(-2px 0px 15px #000000);
}

.custom-zindex {
  z-index: 1000;
}

.text {
  display: flex;
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;

    .letter {
      transition: ease-out 2s;
      transform: translateY(20%);
      color: #ffc83d;
    }

    .shadow {
      transform: scale(1, -1);
      color: rgb(194 65 12);
      transition: ease-in 5s, ease-out 5s;
    }

    &:hover {
      .letter {
        transform: translateY(-50%);
      }

      .shadow {
        opacity: 0;
        transform: translateY(100%);
      }
    }
  }
}
