<section
  class="bg-cover bg-center h-screen"
  style="background-image: url('assets/furniture/hero-large.jpg')"
>
  <div class="flex justify-evenly items-center xl:justify-center xl:space-x-20">
    <app-navbar></app-navbar>
    <img src="assets/logo/Logo.svg" alt="Leafe logo" class="h-20" />
    <i
      class="fa fa-shopping-cart text-white text-3xl hover:cursor-pointer"
      (click)="toggleCart()"
    ></i>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
  @if (cartVisible$ | async) {
  <div class="">
    <app-cart-main></app-cart-main>
  </div>
  }
</section>
