<section
  class="h-screen custom-position"
  style="background-image: url('assets/furniture/hero-large.jpg')"
>
  <div
    class="text absolute bottom-52 left-48 sm:bottom-16 md:bottom-32 md:left-72 lg:left-72 2xl:left-96"
  >
    <div class="wrapper">
      <div id="L" class="letter">L</div>
      <div class="shadow">L</div>
    </div>
    <div class="wrapper">
      <div id="I" class="letter">E</div>
      <div class="shadow">E</div>
    </div>
    <div class="wrapper">
      <div id="G" class="letter">A</div>
      <div class="shadow">A</div>
    </div>
    <div class="wrapper">
      <div id="H" class="letter">F</div>
      <div class="shadow">F</div>
    </div>
    <div class="wrapper">
      <div id="T" class="letter">E</div>
      <div class="shadow">E</div>
    </div>
    <div class="fixed left-5 -top-2 lg:-top-6 lg:left-8 2xl:-top-7">
      <button
        class="border border-white p-1 text-white font-extralight rounded-md text-xl tracking-widest hover:bg-white hover:text-orange-700 transition-all duration-500 ease-in-out shadow-lg z-10"
        (click)="navigateToProducts()"
      >
        Shop Now
      </button>
      <p
        class="text-white text-base lg:text-2xl fixed -bottom-3 tracking-widest"
      >
        "Nature Inspired Furniture"
      </p>
      <div class="fixed -top-24 right-0 lg:-top-4 2xl:-top-8">
        <img src="assets/logo/leaf.svg" alt="" class="" />
      </div>
    </div>
  </div>
</section>
