<section
  class="h-screen custom-bg flex flex-col justify-center items-center space-y-7 2xl:space-y-4"
>
  <div class="text text-xl 2xl:text-8xl relative">
    <div class="wrapper">
      <div id="L" class="letter">C</div>
      <div class="shadow">C</div>
    </div>
    <div class="wrapper">
      <div id="I" class="letter">O</div>
      <div class="shadow">O</div>
    </div>
    <div class="wrapper">
      <div id="G" class="letter">N</div>
      <div class="shadow">N</div>
    </div>
    <div class="wrapper">
      <div id="H" class="letter">T</div>
      <div class="shadow">T</div>
    </div>
    <div class="wrapper">
      <div id="H" class="letter">A</div>
      <div class="shadow">A</div>
    </div>
    <div class="wrapper">
      <div id="H" class="letter">C</div>
      <div class="shadow">C</div>
    </div>
    <div class="wrapper">
      <div id="H" class="letter">T</div>
      <div class="shadow">T</div>
    </div>
    <img
      src="assets/logo/leaf.svg"
      alt="Leaf Logo"
      class="h-24 2xl:h-48 absolute -top-10 2xl:-top-24 right-32 2xl:right-48"
    />
  </div>
  <div class="">
    <p class="text-white">We are looking forward to hearing from you.</p>
  </div>
  <div
    class="grid grid-cols-2 text-center sm:grid-cols-4 sm:divide-x-2 w-90vw text-white bg-teal-700 bg-opacity-40 rounded-md"
  >
    <div
      class="border-r-2 border-b-2 sm:border-r-0 sm:border-b-0 text-xs lg:text-base hover:bg-teal-900 hover:bg-opacity-20 p-3 tracking-widest"
    >
      <i class="fas fa-map-marker-alt text-3xl custom-color"></i>
      <p class="">Address</p>
      <p>123 Fake Street</p>
    </div>
    <div
      class="border-b-2 sm:border-b-0 text-xs lg:text-base hover:bg-teal-900 hover:bg-opacity-20 p-3 tracking-widest"
    >
      <i class="fas fa-phone text-3xl custom-color"></i>
      <p>Phone</p>
      <p>555-555-5555</p>
    </div>
    <div
      class="border-r-2 sm:border-r-0 text-xs lg:text-base hover:bg-teal-900 hover:bg-opacity-20 p-3 tracking-widest"
    >
      <i class="fas fa-envelope text-3xl custom-color"></i>
      <p>Email</p>
      <p>businessleaf&#64;info.com</p>
    </div>
    <div
      class="text-xs lg:text-base hover:bg-teal-900 hover:bg-opacity-20 p-3 tracking-widest"
    >
      <i class="far fa-clock text-3xl custom-color"></i>
      <p>Hours</p>
      <p>Tuesday-Sunday 10am-6pm</p>
    </div>
  </div>
</section>
